name: "Issue Labeler"
on:
  issues:
    types: [opened, edited]

jobs:
  triage:
    if: ${{ github.actor == 'yousseflasheen' }}
    runs-on: ubuntu-latest
    steps:
      - name: Read package.json
        id: package
        uses: juliangruber/read-file-action@v1
        with:
          path: ./whitelisted-users
      - name: Echo whitelisted-users
        run: echo "${{ steps.package.outputs.content }}"
      - uses: github/issue-labeler@v2.5 #masdasf
        with:
         repo-token: "${{ secrets.GITHUB_TOKEN }}"
         configuration-path: .github/labeler.yml
         enable-versioned-regex: 0
         include-title: 1
  
