name: "Issue Labeler"
on:
  issues:
    types: [opened, edited]

jobs:
  ReadUsers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read VERSION file
        id: getversion
        run: echo "::set-output name=version::$(cat ./whitelisted-users)"
      - uses: github/issue-labeler@v2.5 #masdasf
        with:
         repo-token: "${{ secrets.GITHUB_TOKEN }}"
         configuration-path: .github/labeler.yml
         enable-versioned-regex: 0
         include-title: 1
        if: ${{ contains(steps.getversion.outputs.version, github.run_id)}}
        

