name: "Issue Labeler"
on:
  issues:
    types: [opened, edited]

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read whitelisted-users file
        id: get-whitelisted-users
        run: echo "::set-output name=whitelisted-users::$(cat ./whitelisted-users)"
      - uses: github/issue-labeler@v2.5
        with:
         repo-token: "${{ secrets.GITHUB_TOKEN }}"
         configuration-path: .github/labeler.yml
         enable-versioned-regex: 0
         include-title: 1
        if: ${{ contains(steps.get-whitelisted-users.outputs.whitelisted-users, github.actor)}}
        

